<div class="center-content">
  <div>
    <img src="../../../aa.png" alt="LOGO" style="height:200px;">
  </div>
  <h1>Log in:</h1>
  <p><%= alert %></p>

  <%= form_tag sessions_path do %>
    <div>
      <%= label_tag "Email:" %>
      <br>
      <%= text_field_tag :email %>
    </div>

    <div>
      <%= label_tag "Password:" %>
      <br>
      <%= password_field_tag :password %>
    </div>
    <br>
    <div>
      <%= submit_tag "Log in" %>
    </div>
  <% end %>
</div>
