<div class="center-content">
  <img src="../../../aa.png" alt="LOGO" style="height:200px;">
  <h1>Sign up</h1>
  <%= form_for @account do |f| %>
    <% if @account.errors.any? %>
      <div>
        <h3>Invalid form!</h3>
        <ul>
          <% for message in @account.errors.full_messages %>
          <li>
            <%= message %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :username %>
      <br>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
