<div class="center-content">
  <img src="../../../aa.png" alt="LOGO" style="height:200px;">
  <h1><%= @account.username %>
    <% if current_account == @account %>
     | <%= link_to 'DELETE', @account, method: :delete, data: {confirm: 'Are you sure you want to delete user?'} %>
    <% end %>
  </h1>
  <div class="panel panel-default">
  <div class="panel-heading">Activities: </div>
  <div class="panel-body">
    <% @articles.each do |article| %>
      <!-- <%= link_to article.title, article_path(article.id) %> -->
      <%= link_to article_path(article.id) do %>
        <p><%= article.title %> by <%= article.account.username %> about <%= time_ago_in_words(article.created_at) %> ago. </p>
      <% end %>
    <% end %>
    <% @comments.each do |comment| %>
      <%= link_to article_path(comment.article.id) do %>
        <p><%= comment.content %> by <%= comment.account.username %></p>
      <% end %>
    <% end %>
  </div>
</div>
</div>
